<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--本地数据库IP-->
    <add key="LocalIP" value="localhost" />
    <!--本地数据库名-->
    <add key="LocalDataBase" value="information_schema" />
    <!--本地登录用户-->
    <add key="LocalUserName" value="root" />
    <!--本地登录用户密码-->
    <add key="LocalUserPassWord" value="vaSOzCa3QdI=" />
    <!--远程数据库IP-->
    <add key="RemoteIP" value="192.168.1.243" />
    <!--远程数据库名-->
    <add key="RemoteDataBase" value="information_schema" />
    <!--远程登录用户-->
    <add key="RemoteUserName" value="root" />
    <!--远程登录用户密码-->
    <add key="RemoteUserPassWord" value="vaSOzCa3QdI=" />
    <!--同步server-id-->
    <add key="serverid" value="4" />
    <!--同步数据库名-->
    <add key="SyncDataBase" value="sa" />
    <!--启动时是否初始化数据库(0:不初始化,1:初始化)-->
    <add key="IsInitDb" value="1" />
    <!--初始化数据库文件名称-->
    <add key="InitDbFileName" value="safety2019.bak" />
    <!--my.ini文件路径-->
    <add key="myiniPath" value="c:\ProgramData\MySQL\MySQL Server 5.6" />
    <!--日表前缀-->
    <add key="DayTablePrex" value="jc_b,jc_m,jc_r" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>